<?xml version="1.0"?>
<config>
  <default>
    <tagalys_ss>
      <endpoint>
        <ss>/v1/search_suggestion</ss>
      </endpoint>
    </tagalys_ss>
  </default>
  <modules>
    <Tagalys_SearchSuggestions>
      <version>1.0.0</version>
    </Tagalys_SearchSuggestions>
  </modules>
  <frontend>
    <layout>
      <updates>
        <tagalys_ss>
          <file>tagalys/ss.xml</file>
        </tagalys_ss>
      </updates>
    </layout>
    <routers>
      <tagalys_ss>
        <use>standard</use>
        <args>
          <module>Tagalys_SearchSuggestions</module>
          <frontName>tagalys_ss</frontName>
        </args>
      </tagalys_ss>
    </routers>
  </frontend>
  <global>
    <helpers>
      <search_suggestions>
        <class>Tagalys_SearchSuggestions_Helper</class>
      </search_suggestions>
    </helpers>
    <blocks>
      <tagalys_ss>
        <class>Tagalys_SearchSuggestions_Block</class>
      </tagalys_ss>
      <catalogsearch>
        <rewrite>
          <layer>Tagalys_SearchSuggestions_Block_Catalog_Layer</layer>
        </rewrite>
      </catalogsearch>
    </blocks>
    <models>
      <tagalys_ss>
        <class>Tagalys_SearchSuggestions_Model</class>
      </tagalys_ss>
      <tagalys_ss>
        <resourceModel>tagalys_ss_resource</resourceModel>
      </tagalys_ss>
      <tagalys_ss_resource>
        <class>Tagalys_SearchSuggestions_Model_Resource</class>
      </tagalys_ss_resource>
    </models>
  </global>
</config>