<?xml version="1.0"?>
<config>
    <modules>
        <Tagalys_Analytics>
            <version>0.1.0</version>
        </Tagalys_Analytics>
    </modules>
    <frontend>
        <layout>
            <updates>
                <tagalys_analytics>
                    <file>tagalys_analytics.xml</file>
                </tagalys_analytics>
            </updates>
        </layout>
        <routers>
            <tagalys_tanalytics>
                <use>standard</use>
                <args>
                    <module>Tagalys_Analytics</module>
                    <frontName>tanalytics</frontName>
                </args>
            </tagalys_tanalytics>
        </routers>
    </frontend>
    <global>
        <blocks>
            <analytics>
                <class>Tagalys_Analytics_Block</class>
            </analytics>
        </blocks>
        <models>
            <analytics>
                <class>Tagalys_Analytics_Model</class>
            </analytics>
        </models>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <checkout_cart_product_add_after_handler>
                        <type>singleton</type>
                        <class>analytics/observer</class>
                        <method>addToCart</method>
                        <args></args>
                    </checkout_cart_product_add_after_handler>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <checkout_onepage_controller_success_action_handler>
                        <type>singleton</type>
                        <class>analytics/observer</class>
                        <method>orderSuccess</method>
                        <args></args>
                    </checkout_onepage_controller_success_action_handler>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
</config>