<?xml version="1.0"?>
<config>
  <default>
    <tagalys_popular_searches>
      <endpoint>
        <popular_searches>/v1/popular_searches</popular_searches>
      </endpoint>
    </tagalys_popular_searches>
  </default>
  <modules>
    <Tagalys_PopularSearches>
      <version>1.1.0</version>
    </Tagalys_PopularSearches>
  </modules>
  <global>
    <models>
      <tagalys_popular_searches>
        <class>Tagalys_PopularSearches_Model</class>
      </tagalys_popular_searches>
      <tagalys_popular_searches>
        <resourceModel>tagalys_popular_searches_resource</resourceModel>
      </tagalys_popular_searches>
      <tagalys_popular_searches_resource>
        <class>Tagalys_PopularSearches_Model_Resource</class>
      </tagalys_popular_searches_resource>
    </models>
  </global>
  <crontab>
  <jobs>
    <tagalys_popular_searches>
      <schedule>
        <cron_expr>*/10 * * * *</cron_expr>
      </schedule>
      <run>
        <model>tagalys_popular_searches/observer::getPopularSearches</model>
      </run>
    </tagalys_popular_searches>
  </jobs>
</crontab>
</config>