<?xml version="1.0"?>
<config>
  <default>
    <tagalys_endpoint>
      <endpoint>
        <product_feed>/v1/products/sync_feed</product_feed>
        <sync_updates>/v1/products/sync_updates</sync_updates>
        <client_config>/v1/configuration</client_config>
        <sync_feed_progress>/v1/products/sync_feed_progress</sync_feed_progress>
        <api_auth>/v1/identification/check</api_auth>
        <installed_plugin>Merchandising Pages</installed_plugin>
        <plugin_to_be_activated>merchandising_page</plugin_to_be_activated>
      </endpoint>
    </tagalys_endpoint>
  </default>
  <modules>
    <Tagalys_Sync>
      <version>0.2.0</version>
    </Tagalys_Sync>
  </modules>
  <!-- Default Config Start-->
  <default>
    <sync>
      <product>
        <import_status>disable</import_status>
      </product>
    </sync>
  </default>
  <!-- Default Config End -->
  <frontend>
    <routers>
      <tagalys>
        <use>standard</use>
        <args>
          <module>Tagalys_Sync</module>
          <frontName>tagalys</frontName>
        </args>
      </tagalys>
    </routers>
  </frontend>
  <global>
    <helpers>
      <sync>
        <class>Tagalys_Sync_Helper</class>
      </sync>
    </helpers>
    <models>
      <sync>
        <class>Tagalys_Sync_Model</class>
        <resourceModel>sync_mysql4</resourceModel>
      </sync>
      <sync_mysql4>
        <class>Tagalys_Sync_Model_Mysql4</class>
        <entities>
          <queue>
            <table>tagalys_queue</table>
          </queue>
        </entities>
      </sync_mysql4>
      <dataflow>
        <rewrite>
          <convert_adapter_io>Tagalys_Sync_Model_Dataflow_Convert_Adapter_Io</convert_adapter_io>
        </rewrite>
      </dataflow>
    </models>
    <resources>
      <sync_setup>
        <setup>
          <module>Tagalys_Sync</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </sync_setup>
      <sync_write>
        <connection>
          <use>core_write</use>
        </connection>
      </sync_write>
      <sync_read>
        <connection>
          <use>core_read</use>
        </connection>
      </sync_read>
    </resources>
    <events>
      <catalog_product_attribute_save_after>
        <observers>
          <catalog_product_attribute_update_after_handler>
            <type>singleton</type>
            <class>sync/observer</class>
            <method>test</method>
            <args></args>
          </catalog_product_attribute_update_after_handler>
        </observers>
      </catalog_product_attribute_save_after>
      <tagalys_event>
        <observers>
          <tagalys_event_handler>
            <type>singleton</type>
            <class>Tagalys_Sync_Model_Adminhtml_System_Config_Backend_Tagalys_Cron</class>
            <method>setCron</method>
            <args></args>
          </tagalys_event_handler>
        </observers>
      </tagalys_event>
      <catalog_product_import_finish_before>
        <observers>
          <tagalys_catalog_product_import_finish_before_handler>
            <type>singleton</type>
            <class>sync/observer</class>
            <method>productsImported</method>
            <args></args>
          </tagalys_catalog_product_import_finish_before_handler>
        </observers>
      </catalog_product_import_finish_before>
      <catalog_product_save_after>
        <observers>
          <tagalys_catalog_product_save_after_handler>
            <type>singleton</type>
            <class>sync/observer</class>
            <method>productUpdate</method>
            <args></args>
          </tagalys_catalog_product_save_after_handler>
        </observers>
      </catalog_product_save_after>
      <catalog_product_delete_before>
        <observers>
          <tagalys_catalog_product_delete_before_handler>
            <type>singleton</type>
            <class>sync/observer</class>
            <method>productDelete</method>
            <args></args>
          </tagalys_catalog_product_delete_before_handler>
        </observers>
      </catalog_product_delete_before>
      <catalog_product_delete_commit_after>
        <observers>
          <tagalys_catalog_product_delete_commit_after_handler>
            <type>singleton</type>
            <class>sync/observer</class>
            <method>productDelete</method>
            <args></args>
          </tagalys_catalog_product_delete_commit_after_handler>
        </observers>
      </catalog_product_delete_commit_after>
      <catalog_product_import_profile_after>
        <observers>
          <catalog_product_import_after_handler>
            <type>singleton</type>
            <class>sync/observer</class>
            <method>productImportByDataFlow</method>
            <args></args>
          </catalog_product_import_after_handler>
        </observers>
      </catalog_product_import_profile_after>
      <sales_order_payment_place_end>
        <observers>
          <tagalys_sales_order_payment_place_end_handler>
            <type>singleton</type>
            <class>sync/observer</class>
            <method>saleOrderComplete</method>
            <args></args>
          </tagalys_sales_order_payment_place_end_handler>
        </observers>
      </sales_order_payment_place_end>
    </events>
  </global>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Tagalys_Sync before="Mage_Adminhtml">Tagalys_Sync_Adminhtml</Tagalys_Sync>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <depends>
    <Mage_Catalog />
  </depends>
  <crontab>
    <jobs>
      <tagalys_cron>
        <schedule>
          <cron_expr>*/1 * * * *</cron_expr>
        </schedule>
        <run>
          <model>sync/observer::createProductFeed</model>
        </run>
      </tagalys_cron>
      <!-- to-do based on client dropdown -->
      <tagalys_updates_cron>
        <run>
          <model>sync/observer::updatesCron</model>
        </run>
      </tagalys_updates_cron>
      <tagalys_resync_cron>
        <run>
          <model>sync/observer::resyncCron</model>
        </run>
      </tagalys_resync_cron>
    </jobs>
  </crontab>
</config>
