<?xml version="1.0"?>
<config>  
  <default>
    <tagalys>
      <endpoint>
        <merchandisingpage>/v1/mpages/:page-name</merchandisingpage>
      </endpoint>
    </tagalys>
  </default>
  <modules>
    <Tagalys_MerchandisingPage>
      <version>0.1.0</version>
    </Tagalys_MerchandisingPage>
  </modules>
  <global>
      <helpers>
        <merchandisingpage>
            <class>Tagalys_MerchandisingPage_Helper</class>
        </merchandisingpage>
      </helpers>

     <blocks>
      <merchandisingpage>
        <class>Tagalys_MerchandisingPage_Block</class>
      </merchandisingpage>

      <catalog>
        <rewrite>
          <layer>Tagalys_MerchandisingPage_Block_Catalog_Layer_View</layer>
        </rewrite>
      </catalog>

       <page>
		<rewrite>
			<html_pager>Tagalys_MerchandisingPage_Block_Page_Html_Pager</html_pager>
		</rewrite>
	</page>
      <catalog>
        <rewrite>
          <product_list_toolbar>Tagalys_MerchandisingPage_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
        </rewrite>
      </catalog>
      
      <catalogsearch>
        <rewrite>
          <layer>Tagalys_MerchandisingPage_Block_Catalogsearch_Layer_View</layer>
        </rewrite>
      </catalogsearch>
     </blocks>
     <models>
        <merchandisingpage>
          <class>Tagalys_MerchandisingPage_Model</class>
        </merchandisingpage>

        <catalog>
          <rewrite>
            <layer>Tagalys_MerchandisingPage_Model_Catalog_Layer</layer>
          </rewrite>
        </catalog>
     </models>
     <!-- url rewrite -->
     <rewrite>
        <merchandisingpage>
            <from><![CDATA[#^/m/([\w-]+)/?#]]></from>
            <to><![CDATA[/m/index/index/product/$1]]></to>
            <complete>1</complete>
        </merchandisingpage>
    </rewrite>
    <!-- end url rewrite -->
  </global>
  <frontend>
    <routers>
       <merchandisingpage>
          <use>standard</use>
            <args>
               <module>Tagalys_MerchandisingPage</module>
               <frontName>m</frontName>
            </args>
       </merchandisingpage>
     </routers>
     <layout>
          <updates>
              <merchandisingpage>
                  <file>tagalys_merchandising.xml</file>
              </merchandisingpage>
          </updates>
      </layout>
  </frontend>
  <!-- <depends>
    <Mage_Catalog />
    <Mage_CatalogSearch />
    <Tagalys_Sync />
  </depends> -->
</config> 
